/* This file is intentionally left blank. 
   Students should write their own CSS code for the project. */

body {
   font-family: 'Courier New', Courier, monospace;
}

.flex-container {
   display: flex;
}

.flex-item {
   background-color: red;
   width: 100%;
   height: 100%;
}